!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
